In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('listings_summary.csv')

In [24]:
len(df['id'].unique())

22552

In [25]:
df.head()

     id  ... reviews_per_month
0  2015  ...              3.76
1  2695  ...              1.42
2  3176  ...              1.25
3  3309  ...              0.39
4  7071  ...              1.75

[5 rows x 96 columns]

In [0]:
col = df.columns.sort_values()

In [0]:
col_used = ['price','minimum_nights','accommodates']

In [36]:
df[col_used].isnull().sum()

price                               0
square_feet                     22106
minimum_nights                      0
accommodates                        0
bedrooms                           18
bathrooms                          32
neighbourhood_group_cleansed        0
room_type                           0
description                       203
dtype: int64

In [32]:
df[col_used].head()

    price  ...                                        description
0  $60.00  ...  Great location!  30 of 75 sq meters. This wood...
1  $17.00  ...  In the summertime we are spending most of our ...
2  $90.00  ...  This beautiful first floor apartment  is situa...
3  $26.00  ...  First of all: I prefer short-notice bookings. ...
4  $42.00  ...  Cozy and large room in the beautiful district ...

[5 rows x 8 columns]

In [7]:
col

Index(['access', 'accommodates', 'amenities', 'availability_30',
       'availability_365', 'availability_60', 'availability_90', 'bathrooms',
       'bed_type', 'bedrooms', 'beds', 'calculated_host_listings_count',
       'calendar_last_scraped', 'calendar_updated', 'cancellation_policy',
       'city', 'cleaning_fee', 'country', 'country_code', 'description',
       'experiences_offered', 'extra_people', 'first_review',
       'guests_included', 'has_availability', 'host_about',
       'host_acceptance_rate', 'host_has_profile_pic', 'host_id',
       'host_identity_verified', 'host_is_superhost', 'host_listings_count',
       'host_location', 'host_name', 'host_neighbourhood', 'host_picture_url',
       'host_response_rate', 'host_response_time', 'host_since',
       'host_thumbnail_url', 'host_total_listings_count', 'host_url',
       'host_verifications', 'house_rules', 'id', 'instant_bookable',
       'interaction', 'is_business_travel_ready', 'is_location_exact',
       'jurisdiction_names', 'last_review', 'last_scraped', 'latitude',
       'license', 'listing_url', 'longitude', 'market', 'maximum_nights',
       'medium_url', 'minimum_nights', 'monthly_price', 'name',
       'neighborhood_overview', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'notes', 'number_of_reviews',
       'picture_url', 'price', 'property_type',
       'require_guest_phone_verification', 'require_guest_profile_picture',
       'requires_license', 'review_scores_accuracy', 'review_scores_checkin',
       'review_scores_cleanliness', 'review_scores_communication',
       'review_scores_location', 'review_scores_rating', 'review_scores_value',
       'reviews_per_month', 'room_type', 'scrape_id', 'security_deposit',
       'smart_location', 'space', 'square_feet', 'state', 'street', 'summary',
       'thumbnail_url', 'transit', 'weekly_price', 'xl_picture_url',
       'zipcode'],
      dtype='object')

In [44]:
df['amenities'].head()

0    {TV,"Cable TV",Wifi,Kitchen,Gym,Heating,"Famil...
1    {Wifi,Kitchen,Elevator,Heating,Washer,Essentia...
2    {Internet,Wifi,Kitchen,"Buzzer/wireless interc...
3    {Internet,Wifi,"Pets allowed","Pets live on th...
4    {Wifi,Heating,"Family/kid friendly",Essentials...
Name: amenities, dtype: object

In [0]:
from collections import Counter

In [46]:
results = Counter()
df['amenities'].str.strip('{}')\
               .str.replace('"', '')\
               .str.lstrip('\"')\
               .str.rstrip('\"')\
               .str.split(',')\
               .apply(results.update)

results.most_common(30)

[('Wifi', 21512),
 ('Kitchen', 21332),
 ('Heating', 21190),
 ('Essentials', 20329),
 ('Washer', 18497),
 ('Hair dryer', 14891),
 ('Laptop friendly workspace', 14447),
 ('Hangers', 13908),
 ('Iron', 11206),
 ('Shampoo', 10654),
 ('TV', 10134),
 ('Hot water', 9744),
 ('Family/kid friendly', 8141),
 ('Internet', 7909),
 ('Host greets you', 6663),
 ('Smoke detector', 6457),
 ('Buzzer/wireless intercom', 6116),
 ('Lock on bedroom door', 5294),
 ('Refrigerator', 5212),
 ('Free street parking', 5190),
 ('Dishes and silverware', 5082),
 ('Elevator', 4867),
 ('Bed linens', 4842),
 ('Cooking basics', 4834),
 ('Stove', 4816),
 ('Smoking allowed', 4589),
 ('Oven', 4312),
 ('translation missing: en.hosting_amenity_50', 4184),
 ('First aid kit', 4011),
 ('Cable TV', 3725)]

In [0]:
sub_df = pd.DataFrame(results.most_common(30), columns=['amenity', 'count'])

In [0]:
df['Laptop_friendly_workspace'] = df['amenities'].str.contains('Laptop friendly workspace')
df['TV'] = df['amenities'].str.contains('TV')
df['Family_kid_friendly'] = df['amenities'].str.contains('Family/kid friendly')
df['Host_greets_you'] = df['amenities'].str.contains('Host greets you')
df['Smoking_allowed'] = df['amenities'].str.contains('Smoking allowed')

In [0]:
col_keep = ['price','cleaning_fee','accommodates','minimum_nights','bedrooms','bathrooms',
            'neighbourhood_group_cleansed','room_type','description','extra_people',
            'Laptop_friendly_workspace','TV','Family_kid_friendly','Host_greets_you','Smoking_allowed']

In [0]:
df_raw = df[col_keep]

In [69]:
df_raw.shape

(22552, 15)

In [70]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 15 columns):
price                           22552 non-null object
cleaning_fee                    15406 non-null object
accommodates                    22552 non-null int64
minimum_nights                  22552 non-null int64
bedrooms                        22534 non-null float64
bathrooms                       22520 non-null float64
neighbourhood_group_cleansed    22552 non-null object
room_type                       22552 non-null object
description                     22349 non-null object
extra_people                    22552 non-null object
Laptop_friendly_workspace       22552 non-null bool
TV                              22552 non-null bool
Family_kid_friendly             22552 non-null bool
Host_greets_you                 22552 non-null bool
Smoking_allowed                 22552 non-null bool
dtypes: bool(5), float64(2), int64(2), object(6)
memory usage: 1.8+ MB

In [71]:
df['price'].describe()

count      22552
unique       295
top       $30.00
freq        1387
Name: price, dtype: object

In [72]:
df_raw.head()

    price cleaning_fee  ...  Host_greets_you  Smoking_allowed
0  $60.00       $30.00  ...            False            False
1  $17.00        $0.00  ...            False            False
2  $90.00       $50.00  ...            False            False
3  $26.00       $30.00  ...             True            False
4  $42.00        $0.00  ...            False            False

[5 rows x 15 columns]

In [73]:
df_raw['price'] = df_raw['price'].str.replace('$', '').str.replace(',', '').astype(float)
df_raw['cleaning_fee'] = df_raw['cleaning_fee'].str.replace('$', '').str.replace(',', '').astype(float)
df_raw['extra_people'] = df_raw['extra_people'].str.replace('$', '').str.replace(',', '').astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [74]:
df_raw.head()

   price  cleaning_fee  ...  Host_greets_you  Smoking_allowed
0   60.0          30.0  ...            False            False
1   17.0           0.0  ...            False            False
2   90.0          50.0  ...            False            False
3   26.0          30.0  ...             True            False
4   42.0           0.0  ...            False            False

[5 rows x 15 columns]

In [75]:
df_raw.dtypes

price                           float64
cleaning_fee                    float64
accommodates                      int64
minimum_nights                    int64
bedrooms                        float64
bathrooms                       float64
neighbourhood_group_cleansed     object
room_type                        object
description                      object
extra_people                    float64
Laptop_friendly_workspace          bool
TV                                 bool
Family_kid_friendly                bool
Host_greets_you                    bool
Smoking_allowed                    bool
dtype: object

In [76]:
df_raw.describe()

              price  cleaning_fee  ...     bathrooms  extra_people
count  22552.000000  15406.000000  ...  22520.000000  22552.000000
mean      67.143668     26.721018  ...      1.092695      8.257716
std      220.266210     30.588015  ...      0.329894     11.151069
min        0.000000      0.000000  ...      0.000000      0.000000
25%       30.000000     10.000000  ...      1.000000      0.000000
50%       45.000000     20.000000  ...      1.000000      5.000000
75%       70.000000     35.000000  ...      1.000000     15.000000
max     9000.000000   2000.000000  ...      8.500000    250.000000

[8 rows x 7 columns]

In [77]:
df_raw.shape

(22552, 15)

In [0]:
df_raw = df_raw[(df_raw['price'] > 7 )& (df_raw['price'] <= 300)]

In [79]:
df_raw.shape

(22378, 15)

In [80]:
df_raw.describe()

              price  cleaning_fee  ...     bathrooms  extra_people
count  22378.000000  15309.000000  ...  22346.000000  22378.000000
mean      56.739789     26.340127  ...      1.088025      8.239298
std       38.989867     25.576468  ...      0.315403     11.084762
min        8.000000      0.000000  ...      0.000000      0.000000
25%       30.000000     10.000000  ...      1.000000      0.000000
50%       45.000000     20.000000  ...      1.000000      5.000000
75%       70.000000     35.000000  ...      1.000000     15.000000
max      300.000000    450.000000  ...      8.500000    250.000000

[8 rows x 7 columns]

In [81]:
df_raw.isnull().sum()

price                              0
cleaning_fee                    7069
accommodates                       0
minimum_nights                     0
bedrooms                          18
bathrooms                         32
neighbourhood_group_cleansed       0
room_type                          0
description                      201
extra_people                       0
Laptop_friendly_workspace          0
TV                                 0
Family_kid_friendly                0
Host_greets_you                    0
Smoking_allowed                    0
dtype: int64

In [82]:
df_raw.cleaning_fee.fillna('$0.00', inplace=True)
df_raw.cleaning_fee.isna().sum()

0

In [0]:
df_clean = df_raw.dropna()

In [84]:
df_clean.isnull().sum()

price                           0
cleaning_fee                    0
accommodates                    0
minimum_nights                  0
bedrooms                        0
bathrooms                       0
neighbourhood_group_cleansed    0
room_type                       0
description                     0
extra_people                    0
Laptop_friendly_workspace       0
TV                              0
Family_kid_friendly             0
Host_greets_you                 0
Smoking_allowed                 0
dtype: int64

In [85]:
df_clean.shape

(22127, 15)

In [0]:
df_clean.to_csv('airbnb.csv')